@font-face {
    font-family: 'Nimbus Sans Extended';
    src: url('../fonts/nimbus-sans-extended.truetype') format('truetype');
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nimbus Sans Extended', Arial, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

/* Base */
.portfolio-base {
    position: relative;
    width: 100%;
    height: 45vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.portfolio-base img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    display: block;
}

/* Camada escura por cima */
.portfolio-base::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.653);
    z-index: 1;
}

/* Texto sobreposto */
.portfolio-text {
    position: relative;
    z-index: 2;
    color: #fff;
    margin-left: 120px;
}

.portfolio-text h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: -300px;
}

/* Linha vermelha entre imagem e conteúdo */
.portfolio-divider {
    width: 100%;
    height: 4px;
    background-color: #a30101;
    z-index: 3;
}

/* Secção de Projetos */
.portfolio-content {
    width: 100%;
    min-height: 500px;
    background-color: #262626;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;
    transition: min-height 0.3s ease;
    position: relative;
    z-index: 4;
}

.portfolio-content > * {
    flex: 1 1 300px;
}

/* Responsivo */
@media (max-width: 1024px) {
    .portfolio-text {
        margin-left: 40px;
    }

    .portfolio-text h1 {
        font-size: 45px;
    }

    .portfolio-content {
        padding: 60px 40px;
    }
}
