@font-face {
    font-family: 'Nimbus Sans Extended';
    src: url('../fonts/nimbus-sans-extended.truetype') format('truetype');
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nimbus Sans Extended', Arial, sans-serif;
}

/* Rodapé */
.main-footer {
    width: 100%;
    background-color: #000;
    border-top: 6px solid #a30101;
    color: #fff;
    padding: 50px 80px;
}

/* Container geral do footer */
.footer-content {
    max-width: none;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* Coluna Esquerda */
.footer-left {
    flex: 1;
    min-width: 700px;
}

.footer-logo img {
    height: 37px;
    margin-top: 6px;
    margin-left: -30px;
}

.footer-text {
    font-weight: 400;
    font-size: 14px;
    color: rgba(112, 112, 112);
    margin-top: 40px;
    margin-left: -30px;
}

.footer-text a {
    color: rgba(112, 112, 112);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-text a:hover {
    color: #fff;
}


.footer-text p {
    margin: 4px 0;
}

.footer-socials {
    display: flex;
    gap: 35px;
    margin-top: 25px;
    margin-left: -20px;
}

.footer-socials a img {
    width: 18px;
    height: 18px;
    filter: brightness(0) saturate(100%) invert(40%) sepia(0%) saturate(0%) hue-rotate(178deg) brightness(91%) contrast(89%);
    transition: filter 0.4s ease, opacity 0.4s ease;
    opacity: 0.8;
}

.footer-socials a:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    opacity: 1;
}

/* Coluna do Meio */
.footer-middle {
    font-size: 14px;
    font-weight: 400;
    flex: 1;
    min-width: 250px;
    font-weight: 400;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.footer-middle a {
    color: rgba(112, 112, 112);  
    text-decoration: none;       
    font-size: 14px;
    font-weight: 400;
}

/* Mantém igual no hover */
.footer-middle a:hover {
    color: rgba(140, 140, 140);  
    text-decoration: none;
    transition: color 0.5s ease;
}

.servicos {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
}

.footer-middle p {
    margin: 4px 0;
    color: rgb(255, 255, 255);
}

/* Coluna Direita */
.footer-right {
    margin-top: -190px;
    margin-left: 975px;
    flex: 1;
    min-width: 250px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(112, 112, 112);
}

.footer-right p{
    font-size: 14px;
}

.footer-logo3d img {
    margin-top: 20px;
    height: 60px;
}

/* Responsivo */
@media (max-width: 900px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .footer-left, .footer-middle, .footer-right {
        margin: 0;
    }

    .footer-socials {
        justify-content: center;
    }
}
