@media (min-width: 2560px) {
/* Footer geral */
  .main-footer {
    width: 100%;
    padding: 80px 0;
  }

  .footer-content {
    max-width: none;   
    margin: 0;   
    padding-left: 140px;  
  }

  /* Coluna esquerda */
  .footer-left .footer-logo img {
    height: 60px;
    width: auto;
    margin-bottom: 20px;
    margin-left: 25px;
  }

  .main-footer .footer-text {
    font-size: 22px;
    margin-left: 0;
    margin-top: 35px;
    line-height: 2;
  }

  .main-footer .footer-socials {
    margin-left: 25px;
    gap: 50px;
  }

  .main-footer .footer-socials a img {
    width: 30px;
    height: 30px;
  }

  /* Coluna do meio */
  .main-footer .footer-middle {
    font-size: 25px;
    margin-left: 400px;
    margin-top: 0;
  }

  .main-footer .footer-middle p{
    font-size: 30px;
  }

  .main-footer .footer-middle a {
    font-size: 22px;
  }

  .servicos {
    font-size: 22px;
    margin-bottom: 16px;
  }

  /* Coluna direita */
  .main-footer .footer-right {
    margin-top: 0;
    margin-left: -270px;
  }

  .main-footer .footer-right p {
    font-size: 25px;
  }

  .main-footer .footer-logo3d img {
    height: 90px;
    margin-top: 30px;
  }
}