@media (min-width: 2560px) {

  /* Servico 2 */
  .servico-topo {
    height: 580px;
  }

  .servico-topo-texto {
    left: 120px;
    bottom: 140px;
  }

  .servico-topo-texto h1 {
    font-size: 70px;
    letter-spacing: 1px;
  }

  /* SECÇÕES PRINCIPAIS */
  .servico-introducao {
    padding: 180px 260px;
    gap: 200px;
    height: auto;
  }

  .servico-plantas {
    padding: 180px 260px;
    gap: 200px;
    height: auto;
  }

  .servico-modelacao {
    padding: 180px 260px;
    gap: 200px;
    height: auto;
  }

  /* TITULOS */
  .servico-introducao-texto h2 {
    font-size: 60px;
    margin-left: 0;
  }

  .servico-plantas-texto h2 {
    font-size: 60px;
    margin-left: 0;
  }

  .servico-modelacao-texto h2 {
    font-size: 60px;
    margin-left: 0;
  }

  /* TEXTOS */
  .servico-introducao-texto p {
    font-size: 30px;
    margin-left: 0;
    margin-top: 40px;
    width: 1000px;
    max-width: none;
    line-height: 1.85;
  }

  .servico-plantas-texto p {
    font-size: 30px;
    margin-left: 0;
    margin-top: 40px;
    width: 1000px;
    max-width: none;
    line-height: 1.85;
  }

  .servico-modelacao-texto p {
    font-size: 30px;
    margin-left: 0;
    margin-top: 40px;
    width: 1000px;
    max-width: none;
    line-height: 1.85;
  }

  /* IMAGENS INTRODUÇÃO / PLANTAS */
  .servico-introducao-imagem img {
    width: 1000px;
    height: 720px;
    margin-top: 0;
    margin-right: 0;
  }

  .servico-plantas-imagem img {
    width: 1100px;
    height: 820px;
    margin-left: 0;
  }

  /* MODELACAO GRID */
  .modelacao-grid {
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
  gap: 12px;
}

  .modelacao-grid img {
  width: 100%;
  height: 520px;
  object-fit: cover;
}

  /* GALERIA CATALOGO */
  .galeria-catalogo {
    padding: 0px 60px; /* igual ao teu servico1 final */
  }

  .galeria-grid {
    gap: 14px;
    width: 100%;
  }

  .galeria-grid-top .grid-img {
    height: 340px;
  }

  .galeria-grid-bottom .grid-img {
    height: 470px;
  }

  /* POPUP / LIGHTBOX */
  .popup-content {
    max-width: 80%;
    max-height: 90%;
    padding: 18px;
    border-radius: 12px;
  }

  .popup-caption {
    font-size: 22px;
  }

  .close-btn {
    width: 52px;
    height: 52px;
    font-size: 38px;
  }

  .nav-btn {
    font-size: 54px;
    padding: 16px 26px;
  }

  /* TOPO */
  .servico-topo {
    height: 580px;
  }

  .servico-topo-texto {
    left: 120px;
    bottom: 140px;
  }

  .servico-topo-texto h1 {
    font-size: 70px;
    width: 1100px;
    line-height: 1.15;
  }

  /* CONTACTOS */
  .contact-footer {
    height: 520px;
  }

  .contact-footer-title {
    font-size: 52px;
  }

  .contact-footer-subtitle {
    font-size: 23px;
  }

  .btn-contactar-outline {
    font-size: 16px;
    padding: 18px 48px;
    margin-top: 50px;
  }
}