@media (min-width: 2560px) {

  /* Servico */
  .servicos-topo {
    height: 520px;
  }

  .servicos-topo-texto {
    left: 100px;
    bottom: 110px;
  }

  .servicos-topo-texto h1 {
    font-size: 60px;
  }

  /* SERVIÇOS */
  .services-gallery {
    gap: 50px;
    padding: 100px 120px;
  }

  .service-card {
    height: 360px;
  }

  .service-overlay {
    width: 550px;
  }

  .service-overlay h2 {
    font-size: 35px;
    width: 100%;
  }

  .service-overlay p {
    font-size: 24px;
    line-height: 30px;
    width: 100%;
  }

    /* Efeito hover */
    .service-card:hover img {
    transform: scale(1.95);
    filter: brightness(0.6) grayscale(30%);
}

.service-card:hover::before {
    background: rgba(255, 255, 255, 0.45);
}

.service-card:hover .service-overlay{
    transform: translateY(-50%) scale(1.03);
    opacity: 0.95;
}

.service-card:hover .service-overlay h2 {
    font-size: 35px;
    margin-bottom: 6px;
}

.service-card:hover .service-overlay p {
    font-size: 24px;
}

  /* CONTACTOS */
  .contact-footer {
    height: 520px;
  }

  .contact-footer-title {
    font-size: 52px;
  }

  .contact-footer-subtitle {
    font-size: 23px;
  }

  .btn-contactar-outline {
    font-size: 16px;
    padding: 18px 48px;
    margin-top: 50px;
  }
}